/*
 * I am Using the meyer web CSS reset to improve compatibility across browsers
 */

/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  _______________________________________________________________
 * |Start of my css												   |
 * |---------------------------------------------------------------|
 */

#hidden {
	display: none;
}

h1 {
	font-family: 'Berkshire Swash', cursive;
	font-size: 48px;
	color: #301630;
	line-height: 80px;
	background: #BCA032;
	opacity: 0.98;
}

h2 {
	font-family: 'Berkshire Swash', cursive;
	font-size: 24px;
	color: #301630;
	line-height: 80px;
	opacity: 0.98;
	text-align: left;
	margin: 5px;
}

p {
	box-shadow: 3px 3px 4px #000;
	font-family: Verdana, Geneva, sans-serif;
	color: #0D0B0D;
	border: 5px solid #BCA032;
	border-radius: 10px;
	opacity: 0.98;
	background: #232 url(/images/table.png);
	background-size: 100%;
	text-align: left;
	margin: 20px;
	overflow: hidden;
}

#wrapper
{ 
	min-width:100px; 
	width: auto !important; 
	width: 800px; 
}

#HeadBar {
	font-family: 'Berkshire Swash', cursive;
	font-size: 48px;
	color: #301630;
	line-height: 80px;
	background: #BCA032;
	opacity: 0.98;
}

.headBarMain {
	font-family: 'Berkshire Swash', cursive;
	font-size: 44px;
	color: #301630;
	line-height: 80px;
	background: #BCA032;
	display: inline;
	margin: auto;
	text-align: center;
	z-index: 1000;
	border-radius: 10px;
}

.headBarLeft {
	font-family: 'Berkshire Swash', cursive;
	font-size: 22px;
	color: #301630;
	line-height: 40px;
	background: #BCA032;
	opacity: 0.98;
	display: inline;
	margin: 20px;
	text-align: left;
	z-index: 1000;
	border-radius: 10px;
}

.headBarRight {
	font-family: 'Berkshire Swash', cursive;
	font-size: 22px;
	color: #301630;
	line-height: 40px;
	background: #BCA032;
	opacity: 0.98;
	display: inline;
	margin: 20px;
	text-align: right;
	z-index: 1000;
	border-radius: 10px;
}

body {
	text-align: center;
	background: #aaa url(/images/bg2.png);
}

.modalWindow {
	box-shadow: 3px 3px 4px #000;
	display: none;
	background: #644407;
	position: absolute;
	border: 5px solid #BCA032;
	left: 35%;
	top: 35%;
	width: 500px;
	height: auto;
	text-align: center;
	z-index: 1000;
	border-radius: 10px;
	opacity: 0.98;
	overflow: hidden;
}

.modalItem {
	text-align: left;
	font-family: cursive;
	font-size: 16px;
	margin-left: 10px;
	margin-top: 10px;
	overflow: hidden;
}

.modalItem p {
	color: #FFF;
}

.modalButton {
	font-family: 'Berkshire Swash', cursive;
	font-size: 22px;
	background: #BCA032;
	margin: 10px auto 10px auto;
	width: 100px;
	height: auto;
	border-radius: 10px;
	overflow: hidden;
}

#HeadBar :hover {
	background-color: yellow;
	border-radius: 5px;
}
.modalButton :hover {
	background-color: yellow;
	border-radius: 10px;
}

.modalItemText {
	font-family: cursive;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
}

footer {
	bottom: 0;
	width: 100%;
	font-family: 'Berkshire Swash', cursive;
	font-size: 22px;
	color: #301630;
	line-height: 80px;
	background: #BCA032;
	opacity: 0.98;
}

.bottomBar {
	margin-top: 10px;
	float: left;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-family: 'Berkshire Swash', cursive;
	font-size: 22px;
	color: #301630;
	line-height: 80px;
	background: #BCA032;
	opacity: 0.98;
}

#gameHUD {
	box-shadow: 3px 3px 4px #000;
	border-radius: 10px;
	border: 1px solid #666;
	background: #BCA032;
	width: 80px;
	height: 35px;
	margin: 0 auto;
	font-family: "Arial Rounded MT Bold";
	font-size: 30px;
	color: #CBE4E9;
}

#leftArea {
	width: 12%;
	text-align: left;
	float: left;
	margin: 2%;
	margin-top: 5%;
}

#roundClock {

	background: #232 url(/images/table.png);
	border-radius: 50%;
	width: 80%;
	height: 40%;
	text-align: center;
	border: 20px solid #D2BD50;
	box-shadow: 3px 3px 4px #000;
	display : flex;
	justify-content: center;
}
#clockText {
	font-family: cursive;
	position: inherit;
	font-size: 46px;
	min-width: 100px;
	min-height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#game 
{
	float: left;
	box-shadow: 3px 3px 4px #000;
	border-radius: 10px;
	border: 5px solid #BCA032;
	background: #232 url(/images/table.png);
	background-size: 100%;
	width: 80%;
	height: 50%;
	margin: 2% auto 2% auto;
}

.lineImage {
	float: left;
	margin: 5px;
}

#cards {
	position: relative;
	width: 52%;
	height: 220px;
}

#FrenchCards {
	position: relative;
	width: 52%;
	height: 248px;
}

.card {
	width: 17%;
	height: 75%;
	margin: 2%;
	position: absolute;
	/*Perspective only works with safari/chrome*/
	perspective: 600;
	transition: all .3s;

	transition: all 1s linear;
}

.FrenchCard {
	width: 17%;
	height: 75%;
	margin: 2%;
	position: absolute;
	font-family: Verdana;

	perspective: 600;
	transition: all .3s;

	transition: all 1s linear;
	color: #CBE4E9;
}


/* Although the game uses mostly relative sizes it is not possible to scale images cut from a larger sprite sheet.
 * to overcome this media queries are used to scale the relative size of cards to a more appropriate size for large displays
 * 
 */

@media only screen and (min-width : 1620px)
{
	.FrenchCard {
	width: 16%;
	height: 75%;
	margin: 3%;
	position: absolute;
	font-family: Verdana;

	perspective: 600;
	transition: all .3s;
	transition: all 1s linear;

	color: #CBE4E9;
	}
	
	.card {
	width: 16%;
	height: 75%;
	margin: 3%;
	position: absolute;
	/*Perspective only works with safari/chrome*/
	perspective: 600;
	transition: all .3s;
	transition: all 1s linear;
	}

	#game 
	{
		float: left;
		box-shadow: 3px 3px 4px #000;
		border-radius: 10px;
		border: 5px solid #BCA032;
		background: #232 url(/images/table.png);
		background-size: 100%;
		width: 65%;
		height: 50%;
		margin: 2% auto 2% auto;
	}
}

@media only screen and (min-width : 1824px)
{
	.FrenchCard {
	width: 14%;
	height: 75%;
	margin: 3%;
	position: absolute;
	font-family: Verdana;
	/*Webkit only*/
	perspective: 600;
	transition: all .3s;


	transition: all 1s linear;
	color: #CBE4E9;
	}
	
	.card {
	width: 14%;
	height: 75%;
	margin: 3%;
	position: absolute;
	/*Perspective only works with safari/chrome*/
	perspective: 600;
	transition: all .3s;

	transition: all 1s linear;
	}

	#game 
	{
		float: left;
		box-shadow: 3px 3px 4px #000;
		border-radius: 10px;
		border: 5px solid #BCA032;
		background: #232 url(/images/table.png);
		background-size: 100%;
		width: 65%;
		height: 50%;
		margin: 2% auto 2% auto;
	}
}


.FrenchCard .titleBox {
	position: absolute;
	margin-top: 78%;
	margin-left: 10%;
	margin-right: 5%;
	font-family: Verdana;
	color: #000000;
}
.face {
	border-radius: 10px;
	width: 100px;
	height: 100%;
	position: absolute;
	transition-property: opacity, transform, box-shadow;
	transition-duration: .3s;
	backface-visibility: hidden;
}
.hiddenCard {
	display: none;
}
.hiddenFrench {
	display: none;
}

.front {

	background: #999 url(/images/sheet.png) 1100px 0px;
	z-index: 10;
}

.FrenchCard .front {

	background: #999 url(/images/sheet.png) 600px 0px;
	z-index: 10;
}

.back {
	background: #EFEFEF url(/images/sheet.png) 1100px 0px;
	z-index: 8;
	transform: rotateY(-180deg);
}

.rotateRight {
	transform: rotateZ(180deg);
}

.moveAndScale {
	transform: translate3d(150px,150px,0) scale3d(1.5,1.5,1);
}

.card:hover .face, .card-flipped .face {
	box-shadow: 0 0 10px #aaa;
}

.card-flipped .front {
	z-index: 8;
	transform: rotate3d(0,1,0,180deg);
}

.card-flipped .back {
	transform: rotate3d(0,1,0,0deg);
	z-index: 10;
}

.card-removed {
	opacity: 0;
}

.cardTree {
	background-position: 100px 0px;
}

.cardHouse {
	background-position: 200px 0px;
}

.cardDog {
	background-position: 300px 0px;
}

.cardChair {
	background-position: 400px 0px;
}

.cardCat {
	background-position: 500px 0px;
}

.cardCar {
	background-position: 700px 0px;
}

.cardBoat {
	background-position: 800px 0px;
}
.cardBird {
	background-position: 900px 0px;
}
.cardBed {
	background-position: 1000px 0px;
}
.cardError {
	background-position: 1100px 0px;
}